body {
    background: papayawhip;
}

.container {
    background-color: aquamarine;
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    order: 2;
}

.a {
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}

.b {
    width: 100%;
    height: 100px;
    background-color: palevioletred;
    order: 1;
}

.c {
    width: 33.3%;
    height: 100px;
    background-color: lightsalmon;
    order: 2;
}

.d {
    width: 33.3%;
    background-color: yellowgreen;
    order: 3;
}

.e {
    width: 33.4%;
    background-color: brown;
    order: 4;
}

.f {
    width: 25%;
    height: 200px;
    background-color: plum;
    order: 5;
}